/* This defines styles and classes used in the book */
body { margin: 5%; text-align: justify; font-size: 75%; }
code { font-family: monospace; font-size: 60%; }
h1 { text-align: left; font-family: Helvetica;}
h2 { text-align: left; font-size: 90%;}
h3 { text-align: left; font-size: 85%; }
h4 { text-align: left; font-size: 80%;}
h5 { text-align: left; font-size: 75%;}
h6 { text-align: left; font-size: 70%;}
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }